---
layout: default
---

<div class="home">

  <ul class="posts">
  {% for page in site.pages %}
      {% if page.title == "About" %}<a class="post-link" href="{{ page.url | prepend: site.baseurl }}">About the festival</a>{% endif %}
    {% endfor %}
  </ul>

  <h1>Artists</h1>

  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link artist-link" 
          href="{{ post.url | prepend: site.baseurl }}" 
          {% if post.images.size > 0 %}
            style='background-image: url({{ post.images[0].url }});'
          {% endif %}
          >
          {{ post.title }}
          </a>
          <div class="post-image" ></div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
