---
layout: default
---

<div class="home">

  <h1>Vogel Street Party</h1>

  {% include vogel_street_party.html %}

  <h1>Sponsors</h1>

  {% include sponsor_posts.html %}

  <div class="row">

	  <a class="column streetartists dark" href="/artists">
		  <h1>Street Artists</h1>
	  </a>

	  <a class="column performers dark" href="/performers">
		  <h1>Musicians, DJs &amp; Performers</h1>
	  </a>

  </div>

  <div class="row">

	  <a class="column activities dark" href="/activities">
		  <h1>Activities</h1>
	  </a>

	  <a class="column fashion dark" href="/fashion">
		  <h1>Fashion</h1>
	  </a>

  </div>

  <div class="row">

	  <a class="businesses light" href="/businesses_tours">
		  <h1>Local Businesses &amp; Building Tours</h1>
	  </a>

  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
