<p>The <strong>Vogel Street Party</strong> takes place on <strong>Saturday, the 18th of October</strong> from <strong>3 pm to 10pm</strong> in Vogel Street, just south of the Dunedin CBD.</p>

<p>Vogel Street will be splashed with colour, arts and lights for its family friendly street party on Saturday 18 October.  From 3 - 10pm, music will flow from a stage while the street will evolve into an active art space, divided into clusters of activities, performers, exhibitions and vendors.</p>

<p><a href="/assets/VogelStreetPartyGuide.pdf">Click here to view or download your copy of the event guide &amp; map!</p>