<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    <!-- hide standard busy footer with "company", social links & author-->
    <!--
    {% include footer.html %}
    -->

    <!-- single social link to facebook page -->

    <div class="footer">
      <a href="https://www.facebook.com/vogelstreetparty">
        <span class="icon facebook">
          <i class="icon-facebook"></i>
        </span>
        <span class="username">vogelstreetparty</span>
      </a>
    </div>
    
    </body>
</html>